body {
background: #ADD8E6;
font-family: 'Century Gothic', sans-serif;
}
h1 {
color: lightslategray;
text-align: center;
}

.projects 
{ 
    display:flex; flex-wrap:wrap; 
} /* condensed to save space */
.project 
{
width: 30%;
margin: 10px;
padding: 20px 10px;
background: black;
border-radius: 25%;
}