body {
background: #ADD8E6;
font-family: 'Century Gothic', sans-serif;
}
h1 {
color: lightslategray;
text-align: center;
}


.projects
{
    display:flex; flex-wrap:wrap;
} /* condensed to save space */
.projects h2 {
    /* display the h2 on its own line, not with the section blobs */
    width: 100%;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    border-radius: 25%;
    min-height: 150%;    
    display: flex;        
    flex-direction: column;
    justify-content: space-between;
}
.project h3 {
    /* pull the h3 text away from the left blob wall */
    margin-left: 50px;
}
.project img {
    /* adjust your image sizes as needed */
    width: 50%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    margin: 10px auto;
    border: none;
    display: block;
    /* center the images inside the blobs */
    text-align: center;
}
.project p {
    /* center the p text in the blob */
    text-align: center;
    margin: 15px;
     margin-top: auto;  
    padding-bottom: 10px;
}
