body {
    background: #ADD8E6;
    font-family: 'Century Gothic', sans-serif;
}

h1 {
    color: lightslategray;
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.project {
    flex: 1 1 250px;  
    max-width: 300px;
    background: white;
    padding: 12px;    
    border-radius: 15px;


}

.project h3 {
    text-align: center;
}

.project img {
    width: 100%;
    height: auto;
    max-height: 250px;
    border: 2px solid navy;
    display: block;
    margin: 10px auto;
}

.project p {
    text-align: center;
    margin: 15px;
}
